<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kto sme?</h2>
                <hr class="light">
                <p class="text-faded">Zabezpečovacím službám sa venujeme od roku 1993. Za ten čas sme si vybudovali širokú sieť spokojných zákazníkov. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
