<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kto sme?</h2>
                <hr class="light">
                <p class="text-faded">Zabezpečovacím službám sa venujeme od roku 1993. Pôsobíme na východnom Slovensku. Väčšina našich zákazníkov pochádza z okolia mesta Humenné. 
                    Disponujeme licenciou pre prácu so zabezpečovacími systémami vydanou Krajským riaditeľstvom Policajného zboru a ďalšími licenciami od samotných výrobcov zariadení.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Pokračovať</a>
            </div>
        </div>
    </div>
</section>
