<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontaktujte nás!</h2>
                <hr class="primary">
                <p>Potrebujete sa poradiť? Radi Vám pomôžeme! Kontatujte nás prosím na uvedenom telefónnom čísle alebo emailovej adrese.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="tel:{{site.phone}}">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.phone }}</p>
            </a>
        </div>
         <div class="col-lg-2 col-lg-offset-1 text-center">
             <a href="https://goo.gl/maps/c6XCmU6RGJy11sLP7">
            <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Brestovská 68,<br/>066 01 Humenné</p>
             </a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p><h4>Fakturačné údaje:</h4>
                Ing. Jaroslav Šimko - SIMEXING<br/>
                Brestovská 176/68<br/>
                066 01 Humenné<br/>
                IČO: 44939141<br/>
                DIČ: 1081722301<br/>
                </p>
            </div>
    </div>
</section>
