
<section id="producers">
    <div class="container">
        <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/logo-hik.jpg" class="img-responsive" alt="">
                
                </a>
            </div>
        <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/logo-paradox.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                       
                </a>
            </div>
    </div>
</section>
