<section id="producers">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Naši výrobcovia</h2>
            <hr class="primary">
         </div>
         <div class="col-lg-4 col-lg-offset-2 text-center">
            <a href="https://www.hikvision.com/en/">
            <img src="img/logo-hik.png" class="img-responsive" alt="">
            </a>
         </div>
         <div class="col-lg-4 col-lg-offset-1 text-center">
            <a href="https://www.paradox.com/" >
            <img src="img/logo-paradox.png" class="img-responsive" alt="">
            </a>
         </div>
      </div>
   </div>
</section>
